<!DOCTYPE html>
<html>
<head>
  <title>Leaderboard</title>
  <link rel="stylesheet" href="/static/CSS/leaderboard.css">
</head>
<body>
  <div class="container">
    <h1>🏆 Leaderboard 🏆</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Easy</th>
          <th>Medium</th>
          <th>Hard</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.easy }}</td>
          <td>{{ user.medium }}</td>
          <td>{{ user.hard }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button onclick="location.href='/start'">⬅ Back</button>
  </div>
</body>
</html>
